:root {
    
    --royal-blue-light: #fff;
    --royal-blue-dark: #fff;
    --white: #21FF80;
    --backgroud: #e2e3e9;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background: var(--backgroud);
    
    
  }


  

  



  .titulos{
    font-size:x-large;
    margin-bottom: 2px;
}
  .txt{
    background-color: white;
    height: 380px;
    width: 330px;
    margin-left: 7%;
    
    margin-top:5%;
    margin-bottom: 10px;
    
    padding-left: 15px;
    padding-right: 13px;
    padding-top: 20px;
    float: left;
    
    transition: transform 1s;
    transform: translateX(2) scale(0.9);
    color: gray;
    border-radius: 30px;
    overflow-y: auto;
    
    box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px rgb(246, 255, 246);
    
    
}
.txt:hover,
.txt:focus {
  background: rgb(255, 255, 255);
  transform: translateX(0.5px) scale(1.2);
  
}
.txt::-webkit-scrollbar {
  width: 12px;             
}
  
  a {
    color: var(--white);
    text-decoration: none;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--royal-blue-light);
    height: 6.6875rem;
    padding: 1rem;
    
    width: 100%;

    
    
  }
  
  .logo {
    font-size: 2.5rem;
    
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    
  }
  
  .menu a {
    
    padding: 20px;
    border-radius: 1.5rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all .5s ease;
    width: 200px;
    text-align: center;
    
  }
  
  .menu a:hover {
    letter-spacing:3px;
    background-color: #21FF80;
    color: hsl(0, 0%, 100%);
    box-shadow: #21FF80 0px 7px 29px 0px;
}
.menu a:active{
letter-spacing: 3px;
background-color: hsl(118, 245, 139);
color: hsl(0, 0%, 100%);
box-shadow: #21FF80 0px 0px 0px 0px;
transform: translateY(10px);
transition: 100ms;
}
    
  
  .btn-menu {
    display: none;
  }
  @media (max-width: 940px) {
    .txt:hover,
    .txt:focus {
      background: rgb(255, 255, 255);
      transform: none;
      
    }
    li{
        margin-top: 50px;
        margin-bottom: 5    0px;
    }
    .menu {
        
        padding-top:50px ;
      display: block;
      position: absolute;
      top: 4.6875rem;
      left:0%;
      background: var(--royal-blue-light);
      text-align: center;   
      width: 100%;
      height: 0;
      z-index: 1;
      visibility: hidden;
      overflow-y: hidden;
      transition: 0.5s;
    }
    .menu a {
      padding: 1rem 0;
      margin-inline: 1rem;
      
      border-radius: 10;
    }
    .btn-menu {
      background: none;
      border: none;
      font: inherit;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: var(--white);
      padding: 1rem 0;
      cursor: pointer;
    }
    .hamburger {
      border-top: 0.125rem solid;
      width: 1.25rem;
    }
    .hamburger::after,
    .hamburger::before {
      content: " ";
      display: block;
      width: 1.25rem;
      height: 0.125rem;
      background: currentColor;
      margin-top: 0.3125rem;
      position: relative;
      transition: 0.3s;
    }
    .nav.active .menu {
      height: calc(100vh - 6.6875rem);
      visibility: visible;
      overflow-y: auto;
    }
    .nav.active .hamburger {
      border-top-color: transparent;
    }
    .nav.active .hamburger::before {
      transform: rotate(135deg);
    }
    .nav.active .hamburger::after {
      transform: rotate(-135deg);
      top: -0.4375rem;
    }
  }